<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cozyBed.renting_Admin.mapper.RentHouseinfoMapper">
  <resultMap id="BaseResultMap" type="com.cozyBed.renting_Admin.po.RentHouseinfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="price_type" jdbcType="VARCHAR" property="priceType" />
    <result column="house_type" jdbcType="VARCHAR" property="houseType" />
    <result column="rental_mode" jdbcType="VARCHAR" property="rentalMode" />
    <result column="area" jdbcType="INTEGER" property="area" />
    <result column="floor" jdbcType="VARCHAR" property="floor" />
    <result column="allfloor" jdbcType="INTEGER" property="allfloor" />
    <result column="orientation" jdbcType="VARCHAR" property="orientation" />
    <result column="renovation" jdbcType="VARCHAR" property="renovation" />
    <result column="residential_areas" jdbcType="VARCHAR" property="residentialAreas" />
    <result column="residential_note" jdbcType="VARCHAR" property="residentialNote" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="user" jdbcType="VARCHAR" property="user" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="dotime" jdbcType="VARCHAR" property="dotime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.cozyBed.renting_Admin.po.RentHouseinfoWithBLOBs">
    <result column="title" jdbcType="LONGVARCHAR" property="title" />
    <result column="address" jdbcType="LONGVARCHAR" property="address" />
    <result column="picture" jdbcType="LONGVARCHAR" property="picture" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, price, price_type, house_type, rental_mode, area, floor, allfloor, orientation, 
    renovation, residential_areas, residential_note, district, user, user_type, user_name, 
    user_phone, flag, dotime
  </sql>
  <sql id="Blob_Column_List">
    title, address, picture
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.cozyBed.renting_Admin.po.RentHouseinfoExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from rent_houseinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.cozyBed.renting_Admin.po.RentHouseinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rent_houseinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from rent_houseinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rent_houseinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cozyBed.renting_Admin.po.RentHouseinfoExample">
    delete from rent_houseinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cozyBed.renting_Admin.po.RentHouseinfoWithBLOBs">
    insert into rent_houseinfo (id, price, price_type, 
      house_type, rental_mode, area, 
      floor, allfloor, orientation, 
      renovation, residential_areas, residential_note, 
      district, user, user_type, 
      user_name, user_phone, flag, 
      dotime, title, address, 
      picture)
    values (#{id,jdbcType=INTEGER}, #{price,jdbcType=INTEGER}, #{priceType,jdbcType=VARCHAR}, 
      #{houseType,jdbcType=VARCHAR}, #{rentalMode,jdbcType=VARCHAR}, #{area,jdbcType=INTEGER}, 
      #{floor,jdbcType=VARCHAR}, #{allfloor,jdbcType=INTEGER}, #{orientation,jdbcType=VARCHAR}, 
      #{renovation,jdbcType=VARCHAR}, #{residentialAreas,jdbcType=VARCHAR}, #{residentialNote,jdbcType=VARCHAR}, 
      #{district,jdbcType=VARCHAR}, #{user,jdbcType=VARCHAR}, #{userType,jdbcType=INTEGER}, 
      #{userName,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, 
      #{dotime,jdbcType=VARCHAR}, #{title,jdbcType=LONGVARCHAR}, #{address,jdbcType=LONGVARCHAR}, 
      #{picture,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cozyBed.renting_Admin.po.RentHouseinfoWithBLOBs">
    insert into rent_houseinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="priceType != null">
        price_type,
      </if>
      <if test="houseType != null">
        house_type,
      </if>
      <if test="rentalMode != null">
        rental_mode,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="floor != null">
        floor,
      </if>
      <if test="allfloor != null">
        allfloor,
      </if>
      <if test="orientation != null">
        orientation,
      </if>
      <if test="renovation != null">
        renovation,
      </if>
      <if test="residentialAreas != null">
        residential_areas,
      </if>
      <if test="residentialNote != null">
        residential_note,
      </if>
      <if test="district != null">
        district,
      </if>
      <if test="user != null">
        user,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="dotime != null">
        dotime,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="picture != null">
        picture,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="priceType != null">
        #{priceType,jdbcType=VARCHAR},
      </if>
      <if test="houseType != null">
        #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="rentalMode != null">
        #{rentalMode,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=INTEGER},
      </if>
      <if test="floor != null">
        #{floor,jdbcType=VARCHAR},
      </if>
      <if test="allfloor != null">
        #{allfloor,jdbcType=INTEGER},
      </if>
      <if test="orientation != null">
        #{orientation,jdbcType=VARCHAR},
      </if>
      <if test="renovation != null">
        #{renovation,jdbcType=VARCHAR},
      </if>
      <if test="residentialAreas != null">
        #{residentialAreas,jdbcType=VARCHAR},
      </if>
      <if test="residentialNote != null">
        #{residentialNote,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="user != null">
        #{user,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="dotime != null">
        #{dotime,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=LONGVARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=LONGVARCHAR},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cozyBed.renting_Admin.po.RentHouseinfoExample" resultType="java.lang.Long">
    select count(*) from rent_houseinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update rent_houseinfo
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=INTEGER},
      </if>
      <if test="record.priceType != null">
        price_type = #{record.priceType,jdbcType=VARCHAR},
      </if>
      <if test="record.houseType != null">
        house_type = #{record.houseType,jdbcType=VARCHAR},
      </if>
      <if test="record.rentalMode != null">
        rental_mode = #{record.rentalMode,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null">
        area = #{record.area,jdbcType=INTEGER},
      </if>
      <if test="record.floor != null">
        floor = #{record.floor,jdbcType=VARCHAR},
      </if>
      <if test="record.allfloor != null">
        allfloor = #{record.allfloor,jdbcType=INTEGER},
      </if>
      <if test="record.orientation != null">
        orientation = #{record.orientation,jdbcType=VARCHAR},
      </if>
      <if test="record.renovation != null">
        renovation = #{record.renovation,jdbcType=VARCHAR},
      </if>
      <if test="record.residentialAreas != null">
        residential_areas = #{record.residentialAreas,jdbcType=VARCHAR},
      </if>
      <if test="record.residentialNote != null">
        residential_note = #{record.residentialNote,jdbcType=VARCHAR},
      </if>
      <if test="record.district != null">
        district = #{record.district,jdbcType=VARCHAR},
      </if>
      <if test="record.user != null">
        user = #{record.user,jdbcType=VARCHAR},
      </if>
      <if test="record.userType != null">
        user_type = #{record.userType,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userPhone != null">
        user_phone = #{record.userPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null">
        flag = #{record.flag,jdbcType=INTEGER},
      </if>
      <if test="record.dotime != null">
        dotime = #{record.dotime,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.picture != null">
        picture = #{record.picture,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update rent_houseinfo
    set id = #{record.id,jdbcType=INTEGER},
      price = #{record.price,jdbcType=INTEGER},
      price_type = #{record.priceType,jdbcType=VARCHAR},
      house_type = #{record.houseType,jdbcType=VARCHAR},
      rental_mode = #{record.rentalMode,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=INTEGER},
      floor = #{record.floor,jdbcType=VARCHAR},
      allfloor = #{record.allfloor,jdbcType=INTEGER},
      orientation = #{record.orientation,jdbcType=VARCHAR},
      renovation = #{record.renovation,jdbcType=VARCHAR},
      residential_areas = #{record.residentialAreas,jdbcType=VARCHAR},
      residential_note = #{record.residentialNote,jdbcType=VARCHAR},
      district = #{record.district,jdbcType=VARCHAR},
      user = #{record.user,jdbcType=VARCHAR},
      user_type = #{record.userType,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_phone = #{record.userPhone,jdbcType=VARCHAR},
      flag = #{record.flag,jdbcType=INTEGER},
      dotime = #{record.dotime,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=LONGVARCHAR},
      address = #{record.address,jdbcType=LONGVARCHAR},
      picture = #{record.picture,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update rent_houseinfo
    set id = #{record.id,jdbcType=INTEGER},
      price = #{record.price,jdbcType=INTEGER},
      price_type = #{record.priceType,jdbcType=VARCHAR},
      house_type = #{record.houseType,jdbcType=VARCHAR},
      rental_mode = #{record.rentalMode,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=INTEGER},
      floor = #{record.floor,jdbcType=VARCHAR},
      allfloor = #{record.allfloor,jdbcType=INTEGER},
      orientation = #{record.orientation,jdbcType=VARCHAR},
      renovation = #{record.renovation,jdbcType=VARCHAR},
      residential_areas = #{record.residentialAreas,jdbcType=VARCHAR},
      residential_note = #{record.residentialNote,jdbcType=VARCHAR},
      district = #{record.district,jdbcType=VARCHAR},
      user = #{record.user,jdbcType=VARCHAR},
      user_type = #{record.userType,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_phone = #{record.userPhone,jdbcType=VARCHAR},
      flag = #{record.flag,jdbcType=INTEGER},
      dotime = #{record.dotime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cozyBed.renting_Admin.po.RentHouseinfoWithBLOBs">
    update rent_houseinfo
    <set>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="priceType != null">
        price_type = #{priceType,jdbcType=VARCHAR},
      </if>
      <if test="houseType != null">
        house_type = #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="rentalMode != null">
        rental_mode = #{rentalMode,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=INTEGER},
      </if>
      <if test="floor != null">
        floor = #{floor,jdbcType=VARCHAR},
      </if>
      <if test="allfloor != null">
        allfloor = #{allfloor,jdbcType=INTEGER},
      </if>
      <if test="orientation != null">
        orientation = #{orientation,jdbcType=VARCHAR},
      </if>
      <if test="renovation != null">
        renovation = #{renovation,jdbcType=VARCHAR},
      </if>
      <if test="residentialAreas != null">
        residential_areas = #{residentialAreas,jdbcType=VARCHAR},
      </if>
      <if test="residentialNote != null">
        residential_note = #{residentialNote,jdbcType=VARCHAR},
      </if>
      <if test="district != null">
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="user != null">
        user = #{user,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="dotime != null">
        dotime = #{dotime,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=LONGVARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=LONGVARCHAR},
      </if>
      <if test="picture != null">
        picture = #{picture,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cozyBed.renting_Admin.po.RentHouseinfoWithBLOBs">
    update rent_houseinfo
    set price = #{price,jdbcType=INTEGER},
      price_type = #{priceType,jdbcType=VARCHAR},
      house_type = #{houseType,jdbcType=VARCHAR},
      rental_mode = #{rentalMode,jdbcType=VARCHAR},
      area = #{area,jdbcType=INTEGER},
      floor = #{floor,jdbcType=VARCHAR},
      allfloor = #{allfloor,jdbcType=INTEGER},
      orientation = #{orientation,jdbcType=VARCHAR},
      renovation = #{renovation,jdbcType=VARCHAR},
      residential_areas = #{residentialAreas,jdbcType=VARCHAR},
      residential_note = #{residentialNote,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      user = #{user,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER},
      dotime = #{dotime,jdbcType=VARCHAR},
      title = #{title,jdbcType=LONGVARCHAR},
      address = #{address,jdbcType=LONGVARCHAR},
      picture = #{picture,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cozyBed.renting_Admin.po.RentHouseinfo">
    update rent_houseinfo
    set price = #{price,jdbcType=INTEGER},
      price_type = #{priceType,jdbcType=VARCHAR},
      house_type = #{houseType,jdbcType=VARCHAR},
      rental_mode = #{rentalMode,jdbcType=VARCHAR},
      area = #{area,jdbcType=INTEGER},
      floor = #{floor,jdbcType=VARCHAR},
      allfloor = #{allfloor,jdbcType=INTEGER},
      orientation = #{orientation,jdbcType=VARCHAR},
      renovation = #{renovation,jdbcType=VARCHAR},
      residential_areas = #{residentialAreas,jdbcType=VARCHAR},
      residential_note = #{residentialNote,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      user = #{user,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER},
      dotime = #{dotime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>