<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cozyBed.renting_Admin.mapper.RentAccessMapper" >

    <select id="selectInfo" parameterType="java.lang.Integer" resultType="hashmap">
        select access,usertype from rent_access where usertype=#{userType}
    </select>
</mapper>