<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>通知</title>
    <link rel="stylesheet" type="text/css" href="../../static/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/admin.css"/>
    <style>
        .note-list-del{
            float: right;
        }
        .note-list-del:hover{
            color: #3379f1;
            text-decoration: underline;
        }
    </style>
</head>
<body>
        <div class="note-edge col-lg-7" style="margin-top: 30px;">
            <!--最新通知-->
            <div class="panel panel-default comment-panel">
                <div class="panel-header">通知<a href="javascript:;" onclick="delAll()" style="float:right;color: #999;font-size: 13px;" id="qksy">清空所有</a></div>
                <div class="panel-body">
                    <div class="commentbox" id="content"></div>
                    <div id="pagesbox" style="text-align: center;padding-top: 5px;"></div>
                </div>
            </div>
        </div>
        <!--<ul>
            <li class="item cl"> <a href="#"><i class="avatar size-L radius"><img alt="" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1577622095210&di=e55aa52bbb40f103997ada9cf56f8c17&imgtype=0&src=http%3A%2F%2Fimg.qqzhi.com%2Fuploads%2F2019-04-13%2F102207491.jpg"></i></a>
                <div class="comment-main">
                    <header class="comment-header">
                        <div class="comment-meta"><a class="comment-author" href="#">大老板</a> 发送于
                            <time title="2019年9月2日 下午4:40" datetime="2019-09-02T04:40">2019-09-02 16:40</time>
                            <a href="#" class="note-list-del">删除</a>
                        </div>
                    </header>
                    <div class="comment-body">
                        <p><a href="#">@所有人</a> 今年中秋节不发月饼了，每个员工领取100元过节补贴！！！</p>
                    </div>
                </div>
            </li>
            <li class="item cl"> <a href="#"><i class="avatar size-L radius"><img alt="" src="https://dev-file.iviewui.com/userinfoPDvn9gKWYihR24SpgC319vXY8qniCqj4/avatar"></i></a>
                <div class="comment-main">
                    <header class="comment-header">
                        <div class="comment-meta"><a class="comment-author" href="#">超级管理员</a> 发送于
                            <time title="2019年8月30日 下午3:20" datetime="2019-08-30T03:20">2019-08-30 15:20</time>
                        </div>
                    </header>
                    <div class="comment-body">
                        <p><a href="#">@所有人</a> 系统处于测试阶段，若遇到问题请及时反馈！！！</p>
                    </div>
                </div>
            </li>
        </ul>-->
<script id="content-info" type="text/x-jquery-tmpl">
{{if queryInfo.length>0}}
    <ul class="commentList">
    	{{each(i,info) queryInfo}}
    		<li class="item cl"> <a href="#"><i class="avatar size-L radius"><img alt="" src="https://dev-file.iviewui.com/userinfoPDvn9gKWYihR24SpgC319vXY8qniCqj4/avatar"></i></a>
                <div class="comment-main">
                    <header class="comment-header">
                        <div class="comment-meta"><a class="comment-author" href="#">管理员</a> 发送于
                            <time title="${info.doTime}" datetime="${info.doTime}">${info.doTime}</time>
                            <a href="javascript:;" onclick="del(${info.id})" style="float:right;">删除</a>
                        </div>
                    </header>
                    <div class="comment-body">
                        <p>${info.message}</p>
                    </div>
                </div>
            </li>
    	{{/each}}
    </ul>
{{/if}}
{{if queryInfo.length<=0}}
    <div class="content-null">
        <span>您没有收到消息！</span>
    </div>
{{/if}}
</script>
        <script src="../../static/js/tools/jquery-3.3.1.min.js"></script>
        <script src="../../static/layui/layui.js" type="text/javascript" charset="utf-8"></script>
        <script src="../../static/js/tools/jquery.tmpl.js"></script>
        <script src="../../static/js/old/notice.js"></script>
</body>
</html>