<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台房源</title>
    <link href="../../static/images/icon.png" rel="icon" />
    <link href="../../static/css/old/selectHouse.css" rel="stylesheet">
    <link href="../../static/css/old/general.css" rel="stylesheet">
</head>
<body>

<!--右侧菜单栏-->
<div class="rightNav">
    <div class="toTop" onclick="toTop()"></div>
</div>

<!--内容-->
<div id="content" class="content"></div>

<script id="content-info" type="text/x-jquery-tmpl">
	<div class="content-top">出租房屋</div>
    {{if queryInfo.length>0}}
    	{{each(i,info) queryInfo}}
    		<dl class="conList">
                <dt>
                    <a href="/web/zf/html/htgl/detailsRead.html?cp01=${info.id}" target="_self">
                        <img src="/web/img/${info.picture}" width="220px" height="165.24px">
                    </a>
                </dt>
                <dd>
                    <p><a href="/web/zf/html/htgl/detailsRead.html?cp01=${info.id}" target="_self">${info.title}</a></p>
                    <p>
                        ${info.rentalMode}
                        <span class="splitline">|</span>
                        ${info.houseType}
                        <span class="splitline">|</span>
                        ${info.area}平方
                        <span class="splitline">|</span>
                        ${info.orientation}
                    </p>
                    <p>${info.district}-${info.residentialAreas}</p>
                    <p>${info.residentialNote}</p>
                    <p><span>${info.price}</span>元/月</p>
                    <button type="button" class="update"  onclick="tiaozhuan(${info.id})">修&nbsp;改</button>
                    <button type="button" class="delete" onclick="del(${info.id})">删&nbsp;除</button>
                </dd>
            </dl>
    	{{/each}}
    {{/if}}
    <div class="page">
        <div id="page_content">
            <a href="/web/zf/html/htgl/selectHouse.html?page=1"  target="_self">首页<span style="display: none">1</span></a>
            {{if page.pagNum<=page.start}}
                <a href="/web/zf/html/htgl/selectHouse.html?page=${page.start}" target="_self">上一页</a>
            {{/if}}
            {{if page.pagNum>page.start}}
                <a href="/web/zf/html/htgl/selectHouse.html?page=${page.pagNum-1}" target="_self">上一页</a>
            {{/if}}
            <span id="page_startToend"></span>
            {{if page.pagNum>=page.totalPage}}
                <a href="/web/zf/html/htgl/selectHouse.html?page=${page.totalPage}"  target="_self">下一页</a>
            {{/if}}
            {{if page.pagNum<page.end}}
                 <a href="/web/zf/html/htgl/selectHouse.html?page=${page.pagNum+1}" target="_self">下一页</a>
            {{/if}}
            <a href="/web/zf/html/htgl/selectHouse.html?page=${page.totalPage}">尾页</a>
        </div>
        <div id="page_info">
            <span>共${page.totalPage}页,${page.totalRecord}条数据</span>
        </div>
    </div>
</script>
<script src="../../static/js/tools/jquery-3.3.1.min.js"></script>
<script src="../../static/js/tools/jquery.tmpl.js"></script>
<script src="../../static/js/old/general.js"></script>
<script src="../../static/js/old/selectHouse.js"></script>
</body>
</html>